services:
  db:
    image: postgres
    container_name: libraske-db
    restart: always
    env_file:
      - .env
    volumes:
      - ./pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
  queue:
    image: rabbitmq
    container_name: libraske-queue
    restart: always
    env_file:
      - .env
  api:
    build: .
    container_name: libraske-api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
      - queue
    ports:
      - "8080:8080"
