## Provide a name in place of kube-prometheus-stack for `app:` labels
nameOverride: ""

## Provide a name to substitute for the full names of resources
fullnameOverride: ""

## Labels to apply to all resources
commonLabels: {}

imagePullSecrets:
  - name: registrynuvem

global:  
  appName: libraskeapi
  ## Reference to one or more secrets to be used when pulling images
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  imagePullSecrets:
  # - name: "image-pull-secret"
  # or
  # - "image-pull-secret"
  # Global Configuration
  # These values are used as default settings for the Services  connections.
  # They serve as fallback values when specific configurations are not provided for
  # either the internal or external databases. This approach promotes
  # reusability of these configurations across different parts of your Helm chart,
  # helping to maintain consistency and reduce redundancy.
  redis:
    # usePassword: true
    # password: "changevlibrasme"
    # cachename: "changemeName"
    # host: "changeme"
    # port: 6379
  amqp:
    # port: 5672
    # username: vlibras
    # password: vlibraschangeme
    # host: "changeme"
  

libraskeapi:
  replicaCount: 6
  image:
    repository: "registry.sisp.gov.br/vlibras/vlibras-libraskeapi/vlibras-libraskeapi"
    tag: ""
  
  pullPolicy: Always

  appConfig:
    MIGRATION_DIRECTORY: ./src/database/migrations
    MIGRATION_FILES: ./src/database/migrations/*.ts
    REFRESH_TOKEN_EXPIRATION: 1d
    PORT: 80
    SONG_STORAGE: tmp/song
    ROOT_STORAGE: tmp/
    BONUS_VALUE: 10

  secrets:
    # The existingSecret field is more like a boolean. 
    # if it's empty, Video Backend creates a secret based on Enviroment Variables Values
    # if it's NOT empty, Video doesn't create a secret and try to use the existingSecret.
    existingSecret: "libraskeapi-appsecret"
    
    appSecret:
      BASE_URI_API: https:/libraske-back-dth.vlibras.gov.br/info/
      ACCESS_SECRET: YYYYY
      ACCESS_TOKEN_EXPIRATION : 1d
      LOGIN_UNICO_BASE_URL: https://sso.staging.acesso.gov.br
      LOGIN_UNICO_CLIENT: libraske-dth.vlibras.gov.br
      SEcret: XXXX
      LOGIN_UNICO_SECRET: XXXX
      REFRESH_SECRET: YYYYY
      Client_id: libraske-dth.vlibras.gov.br


  service:
    type: ClusterIP
    port: 80

  #httpRelativePath: /
  ## Configure extra options for containers' liveness, readiness and startup probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
  ## @param livenessProbe.enabled Enable livenessProbe on Keycloak containers
  ## @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
  ## @param livenessProbe.periodSeconds Period seconds for livenessProbe
  ## @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
  ## @param livenessProbe.failureThreshold Failure threshold for livenessProbe
  ## @param livenessProbe.successThreshold Success threshold for livenessProbe
  ##
  livenessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 1
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  ## @param readinessProbe.enabled Enable readinessProbe on Keycloak containers
  ## @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
  ## @param readinessProbe.periodSeconds Period seconds for readinessProbe
  ## @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
  ## @param readinessProbe.failureThreshold Failure threshold for readinessProbe
  ## @param readinessProbe.successThreshold Success threshold for readinessProbe
  ##
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
    successThreshold: 1
  ## When enabling this, make sure to set initialDelaySeconds to 0 for livenessProbe and readinessProbe
  ## @param startupProbe.enabled Enable startupProbe on Keycloak containers
  ## @param startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
  ## @param startupProbe.periodSeconds Period seconds for startupProbe
  ## @param startupProbe.timeoutSeconds Timeout seconds for startupProbe
  ## @param startupProbe.failureThreshold Failure threshold for startupProbe
  ## @param startupProbe.successThreshold Success threshold for startupProbe
  ##
  startupProbe:
    enabled: false
    initialDelaySeconds: 45
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 60
    successThreshold: 1

  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources:
    requests:
      cpu: "1"
      memory: "1Gi"
    limits:
      memory: "4Gi"
      cpu: "4"
  nodeSelector: {}
  tolerations: []
  affinity: {}

# This section enables the internal PostgreSQL instance provided by the Helm chart.

rabbitmqha:
  enabled: true
  port: 5672
  rabbitmqUsername: vlibras
  rabbitmqPassword: vlibraschangeme
  existingSecrets: "libraskeapi-rabbitmq-credentials"

# Enable the use of an external services like PostgreSQL.
# Note: If this is set to 'true', the internal PostgreSQL instance (above) will not be created.
externalServices:
  libraskeapi:
    amqp:
      enabled: true
      port: 5672
      username: "video_usr_amqp"
      password: "changeme"
      host: "rabitmqp.example.com"
      existingSecrets: "libraskeapi-rabbitmq-credentials"
      #existingClaim: ""
    postgresql:
      enabled: true
      dbName: "libraskeapi"
      username: "libraskeapi_usr"
      password: "changeme"
      host: "postgreshost.example.com"
      port: 5432
      existingSecrets: "libraskeapi-db-credentials"
